# Redirecionar erros para a página de erro personalizada

ErrorDocument 400 /error-page.php
ErrorDocument 401 /error-page.php
ErrorDocument 403 /error-page.php
ErrorDocument 404 /error-page.php
ErrorDocument 500 /error-page.php
ErrorDocument 502 /error-page.php
ErrorDocument 503 /error-page.php
ErrorDocument 504 /error-page.php

