@import url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #1b1c1e3e;
    border-radius: 10px;
    border: 3px solid #f5f9fa;
}

::-webkit-scrollbar-track {
    background-color: #f5f9fa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #29907F;
}

::-webkit-scrollbar-thumb:active {
    background-color: #29907F;
}

:root {
    --fonte-titulos: 'Lato', sans-serif;
    --fonte-resto: 'Baloo 2', sans-serif;
    --verde-principal: #29907F;
    --verde-claro: #73C382;
    --roxo: #512572;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-resto);
    background-color: #f5f9fa;
}

/* NAVBAR //////////////////////////////////////////////////////////////////////////////////////////////*/

nav {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.713);
}

.nav_container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    max-width: 30px;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(46%) sepia(80%) saturate(344%) hue-rotate(120deg) brightness(87%) contrast(92%);
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_links a {
    text-decoration: none;
    color: black;
    padding: 0 8px;
    border-radius: 6px;
}

.nav_links a:hover {
    color: white;
    background-color: var(--verde-claro);
}

/*--------------------------------------------------------------------------*/

.scrolled-past-600 {
    background-color: var(--verde-principal);
}

.scrolled-past-600 .nav_links a {
    color: white;
}

.scrolled-past-600 .logo {
    filter: brightness(0) invert(1);
}

.scrolled-past-600 .nav_links a:hover {
    color: black;
    background-color: white;
}

/* HEADER //////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    height: 600px;

}

header img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(80%) saturate(344%) hue-rotate(120deg) brightness(87%) contrast(92%);
}

.fundodiferenciado {
    --s: 50px;
    --c: white;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #00000000 66%, #f5f9fa 68% 70%, #00000000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#typewriter::after {
    content: "|";
    margin-left: 5px;
    animation: blink-caret .5s step-end infinite alternate;
}

@keyframes blink-caret {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

.escrevendo {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--fonte-resto);
    color: black;
}

.nikkoinlogo {
    max-width: 500px;
    padding: 10px 50px;
}

.contatos {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contatos i {
    font-size: 20px;
    background-color: transparent;
    color: black;
    padding: 10px 12px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    border: 2px solid var(--verde-claro);
}

.contatos i:hover {
    color: white;
    background-color: var(--verde-principal);
    border-radius: 0 6px 0 6px;
    border: 2px solid var(--verde-principal);
}



/* MAIN ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

main {
    border-top: 2px solid var(--verde-claro);
    max-width: 1000px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: white;
    margin-top: -20px;
}

main p {
    text-align: justify;
    line-height: 1.4;
    text-indent: 10px;
}

.frase {
    font-size: 30px;
    font-family: var(--fonte-titulos);
    background: linear-gradient(90deg, var(--roxo), var(--verde-principal), var(--verde-claro));
    -webkit-background-clip: text;
    color: transparent; /* Faz o gradiente aparecer no texto */
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}

.frase i{
    color: #c2d7dd;
}

.citacao{
    text-align: center;
    margin-top: -20px;
}


/* graficos ---------------------------------------------------------------------------------------------*/
.clearfix,
.clearfix:before,
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
    zoom: 1;
}

.wrap {
    width: 100%;
    box-sizing: border-box;
}

/* Bar Graph Class */
.barGraph {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.graph {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.graph-barBack {
    border-radius: 6px;
    background: #f5f9fa;
    margin-bottom: 10px;
    display: block;
}

.graph-bar {
    background: linear-gradient(90deg, var(--roxo), var(--verde-principal), var(--verde-claro));
   
    border-radius: 6px;
     /* cursor: pointer;*/
    margin-bottom: 10px;
    position: relative;
    z-index: 9999;
    display: flex;
    width: 0%;

}


.graph-bar:last-child {
    margin-bottom: 0;
}

/*

.graph-bar:hover {
    background: var(--roxo);
}

.graph-bar:after {
    position: absolute;
    content: attr(data-value);
    display: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    color: black;
    height: 25px;
    padding: 0 10px;
    left: 100%;
    top: 0;
    align-content: center;
}*/

.graph-bar:hover:after {
    display: block;
}

.graph-legend {
    margin-left: 10px;
    color: white;
    white-space: nowrap;
}

.graph-legend i{
   font-size: 12px;
   margin-right: 3px;
}

.graficos {
    display: flex;
    gap: 10px;
    width: 100%;
}

.graficos div {
    width: 100%;
}

.graficos h2 i {
    font-size: 16px;
    color: var(--roxo);
}

/* FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    margin-top: 80px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--roxo), var(--verde-principal), var(--verde-claro));
    border-image-slice: 1;
     height: 60px;
     background-color: var(--verde-principal);
}