/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* DASHBOARD ///////////////////////////////////////////////////////////////*/

body {
    background-color: #f5f9fa;
}

.client-area {
    max-width: 1000px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    background-color: white;
    margin-top: -20px;
    padding: 20px 40px;
}

.client-area h1 {
    font-size: 24px;
    color: #333;
}

.client-area .username {
    color: #007BFF;
}

.client-area h2 {
    font-size: 20px;
    color: #555;
}

.client-area .post-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.client-area .post-item {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.client-area .post-item:last-child {
    border-bottom: none;
}

.client-area .post-title {
    font-size: 18px;
    margin: 0;
}

.post-description {
    margin: 5px 0;
}

.client-area  .post-tags {
    font-size: 14px;
    color: #777;
}

.client-area .post-thumbnail {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 10px 0;
}

.client-area .no-thumbnail {
    color: #e74c3c;
}

.client-area .file-list {
    list-style-type: none;
    padding: 0;
}

.client-area .file-item {
    margin: 5px 0;
}

.client-area .file-link {
    color: #007BFF;
    text-decoration: none;
}

.client-area  .file-link:hover {
    text-decoration: underline;
}

.client-area .no-files {
    color: #777;
}

.client-area .no-posts {
    color: #e74c3c;
}

.client-area .logout-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background-color: #dc3545;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.client-area .logout-link:hover {
    background-color: #c82333;
}
