@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #1b1c1e3e;
    border-radius: 10px;
    border: 3px solid #f4f7fd;
}

::-webkit-scrollbar-track {
    background-color: #f4f7fd;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000;
}

::-webkit-scrollbar-thumb:active {
    background-color: #ff0000;
}

body {
    background-color: #f4f7fd;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #ff0000, #ffe601, #007bff);
    border-image-slice: 1;
}

header img {
    max-width: 400px;
    padding: 0 20px 0 20px;

}

main {
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% - 17px);
    max-width: 1000px;
    padding: 5px 20px;
    border-radius: 8px;
    margin-bottom: 60px;
    padding-bottom: 15px;
    border-top: 2px solid #007bff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

footer {

    color: #77779e;
    text-align: center;
    padding: 14px 20px;
    width: 100%;

    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 11px;
}

.loguinho {
    width: 9px;
    filter: invert(50%);
}

/*termos e politica ---------------------------------------------------------------------------------------------*/


.container {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}


strong {
    color: #555;
}

a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0055a5;
}




/* sejavelozstyle --------------------------------------------------------------------------------------------------------------------------------------------------- */

.conteudodooverlay {
    margin-top: 60px;
    border-top: 2px dashed #c8c8d5;
    padding-top: 30px;
}

.conteudodooverlay img {
    border-radius: 10px;

}

.sejavelozstyle .meioefimsv {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}


.sejavelozstyle p {
    margin-top: 6px;
    line-height: 1.5;
    font-size: large;
    text-indent: 20px;

}


.sejavelozstylegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "textointrodução textointrodução textointrodução textointrodução"
        "textoantigo textoantigo textonovo textonovo"
        "img-principal1 img-principal2 img-principal3 img-principal4"
        "textofinal textofinal textofinal textofinal"
        "img-segundaria1 img-segundaria1 img-segundaria3 img-segundaria3"
        "img-segundaria2 img-segundaria4 img-segundaria3 img-segundaria3"
        "img-segundaria5 img-segundaria6 img-segundaria6 videosv"
        "elementoinvisivel elementoinvisivel elementoinvisivel elementoinvisivel"
    ;
    gap: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.sejavelozstylegrid .textoantigo {
    grid-area: textoantigo;
    text-align: center;
    background-color: #f4f7fd;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;

}

.sejavelozstylegrid .textonovo {
    grid-area: textonovo;
    text-align: center;
    font-weight: bold;
    background-color: #f4f7fd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.sejavelozstylegrid .img-principal {
    grid-area: img-principal;
}

.sejavelozstylegrid .img-principal2 {
    grid-area: img-principal2;
}

.sejavelozstylegrid .img-principal3 {
    grid-area: img-principal3;
}

.sejavelozstylegrid .img-principal4 {
    grid-area: img-principal4;
}

.sejavelozstylegrid .textointrodução {
    grid-area: textointrodução;
}

.sejavelozstylegrid .img-segundaria1 {
    grid-area: img-segundaria1;
}

.sejavelozstylegrid .img-segundaria2 {
    grid-area: img-segundaria2;
}

.sejavelozstylegrid .img-segundaria3 {
    grid-area: img-segundaria3;
    object-fit: cover;
}

.sejavelozstylegrid .img-segundaria4 {
    grid-area: img-segundaria4;
}

.sejavelozstylegrid .img-segundaria5 {
    grid-area: img-segundaria5;
}

.sejavelozstylegrid .img-segundaria6 {
    grid-area: img-segundaria6;
}

.sejavelozstylegrid .videosv {
    grid-area: videosv;
}

.sejavelozstylegrid .textofinal {
    grid-area: textofinal;
}

.sejavelozstylegrid .elementoinvisivel {
    grid-area: elementoinvisivel;
}


.sejavelozstylegrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.sejavelozstylegrid iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sejavelozstylegrid a {
    color: #d71822;
    font-weight: 500;
}


/* ---------------------------------------------------------------------------------------*/
 
a .googleplay {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
}

.titulojogo {
    color: white;
    margin-top: 20px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 00px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*Topicos*/
.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
    border: 2px solid #0077cc;
    gap: 10px;
}

.grid-item {
    display: block;
    align-items: flex-start;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

.contentdogrid h3 {
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width: 960px) {

    .grid-container {
        grid-template-columns: 1fr;

    }

    .titulojogo {
        font-size: large;
    }

}