@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #1b1c1e3e;
    border-radius: 10px;
    border: 3px solid #f4f7fd;
}

::-webkit-scrollbar-track {
    background-color: #f4f7fd;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000;
}

::-webkit-scrollbar-thumb:active {
    background-color: #ff0000;
}

body {
    background-color: #f4f7fd;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}

nav {
    background-color: white;
    padding: 20px 0;
    width: 100%;

}

.navbar {
    max-width: 1000px;
    width: calc(100% - 20px);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar div {
    display: flex;
    gap: 10px;
}

.navbar div a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.navbar div a:hover {
    color: #007bff;
}

.navbar img {
    width: 40px;
}

.jogarbotao {
    color: #007bff !important;
    transition: all 0.3s ease;
}

.jogarbotao:hover {
    color: white !important;
    background-color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #0055a5;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #ff0000, #ffe601, #007bff);
    border-image-slice: 1;
}

header img {
    max-width: 400px;
    padding: 0 20px 0 20px;
}

main {
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    width: calc(100% - 20px);
    max-width: 1000px;
    padding: 5px 20px;
    border-radius: 8px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

footer {

    color: #77779e;
    text-align: center;
    padding: 14px 20px;
    width: 100%;

    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 11px;
}

.loguinho {
    width: 9px;
    filter: invert(50%);
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a .googleplay {
    width: 100%;
    max-width: 200px;

}

.jogos_container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.svgcomtexto p {
    text-align: center;
    color: #77779e;
    font-size: small;
    margin-top: 2px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------*/
.container-jogo {
    margin-top: -60px;
}

.titulojogo {
    color: white;
    margin-top: 20px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/*Topicos*/
.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
    border: 2px solid #007bff;
    gap: 10px;
}

.comojogar {
    grid-area: 1 / 1 / 2 / 4;
}

.modonormal {
    grid-area: 2 / 1 / 3 / 2;
}

.mododesafiador {
    grid-area: 2 / 2 / 3 / 3;
}

.modoperfeccionista {
    grid-area: 2 / 3 / 3 / 4;
}

.grid-item {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.contentdogrid h3 {
    margin: 0;
    margin-bottom: 10px;
}

.grid-item:first-of-type h3,
.grid-item:first-of-type p {
    text-align: center;
}

/* tab -------------------------------------------------------------------------------------------------------------------*/

.accordion-content {
    margin: 0 auto;
    width: 100%;
}

.accordion-content:first-child {
    margin-top: 50px;
}

.accordion-content .accordion-item {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 10px;
    border: 2px solid #007bff;
    cursor: pointer;
    background: white;
    margin-bottom: 5px;
}

.accordion-content .item-header {
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;
}

.accordion-content .item-icon {
    margin-top: 28px;
    flex: 0 0 25px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.accordion-content .item-icon i {
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.accordion-content .item-question {
    font-size: 1.25rem;
    font-weight: 700;
}

.accordion-content .active .item-icon i {
    transform: rotate(180deg);
}

.accordion-content .item-content {
    max-height: 0;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease;
    cursor: auto;
}

.itemativado {

    padding-bottom: 20px;

}

.paragrafos p {
    text-indent: 20px;
    text-align: justify;
}

.separador {
    border-top: 2px dashed #ffe601;
}

/* 2023 ----------------------------------------------------------------------------------------------------------------------*/

.sejaveloz {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.imagem-item1 {
    grid-area: 1 / 1 / 2 / 3;
}

.imagem-item1,
.imagem-item2 {
    margin-top: 20px;
    font-weight: bold;
    padding: 14px;
    background-color: #f4f7fd;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.imagem-item2 {
    grid-area: 1 / 3 / 2 / 5;

}

.imagem-item4 {
    grid-area: 2 / 2 / 3 / 3;
}

.imagem-item5 {
    grid-area: 2 / 3 / 3 / 4;
}

.imagem-item6 {
    grid-area: 2 / 4 / 3 / 5;
}

.sejaveloz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/*overlay ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Classe para desativar o scroll no body */
.no-scroll {
    overflow: hidden;
}

/* Imagens no estado normal */
.imgs-paraovelay {
    cursor: pointer;
    transition: transform 0.2s;
}

.imgs-paraovelay:hover {
    filter: brightness(.8);
}

/* Estilos do overlay */
.overlay {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-content {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
}

.overlay-content img {
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #007bff;
    cursor: pointer;
    padding: 0px 15px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: inset 0 0 0 2px #0055a5;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.galeria2023 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.galeria2023 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
}

.div2 {
    grid-area: 1 / 3 / 4 / 5;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 3 / 2 / 4 / 3;
}

.div5 {
    grid-area: 4 / 1 / 5 / 2;
}

.div6 {
    grid-area: 4 / 2 / 5 / 4;
}

.div7 {
    grid-area: 4 / 4 / 5 / 5;
}

.div7 iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}




@media (max-width: 960px) {

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }


    .comojogar {
        grid-area: 1 / 1 / 2 / 2;
    }

    .modonormal {
        grid-area: 2 / 1 / 3 / 2;
    }

    .mododesafiador {
        grid-area: 3 / 1 / 4 / 2;
    }

    .modoperfeccionista {
        grid-area: 4 / 1 / 5 / 2;
    }

    .titulojogo {
        font-size: large;
    }


}

@media (max-width: 600px) {
    .jogos_container {
        flex-direction: column;
        gap: 20px;
    }

    .sejaveloz {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .imagem-item1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .imagem-item2 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .imagem-item3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .imagem-item4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .imagem-item5 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .imagem-item6 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .galeria2023 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 1 / 3 / 2; }
        .div4 { grid-area: 2 / 2 / 3 / 3; }
        .div5 { grid-area: 3 / 1 / 4 / 2; }
        .div6 { grid-area: 3 / 2 / 4 / 3; }
        .div7 { grid-area: 4 / 1 / 5 / 3; }

        .div7 iframe {
            min-height: 250px;
        }
        
}