@import url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

::-webkit-scrollbar {
    width: 14px;
}

.body_index::-webkit-scrollbar-thumb {
    background-color: #1b1c1e3e;
    border-radius: 10px;
    border: 3px solid #f5f9fa;
}

.body_index::-webkit-scrollbar-track {
    background-color: #f5f9fa;
}

.body_portifolio::-webkit-scrollbar-thumb {
    background-color: #1b1c1e3e;
    border-radius: 10px;
    border: 3px solid white;
}

.body_portifolio::-webkit-scrollbar-track {
    background-color: white;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #29907F;
}

::-webkit-scrollbar-thumb:active {
    background-color: #29907F;
}

:root {
    --fonte-titulos: 'Lato', sans-serif;
    --fonte-resto: 'Baloo 2', sans-serif;
    --verde-principal: #29907F;
    --verde-claro: #73C382;
    --roxo: #512572;
    --amarelo: #FFF200;
}

html {
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-resto);
    background-color: #f5f9fa;
}

button {
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--fonte-resto);
    font-size: 14px;
}

.login-button {
    margin-top: 20px;
    color: #fff;
    background: var(--verde-principal);
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    font-family: var(--fonte-resto);
    border-radius: 3px;
    cursor: pointer;
}

.main_page {
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 10px;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 40px;
}

.dashboard_user-page {
    max-width: 1000px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    background-color: white;
    padding: 20px 40px;
}

.form {
    width: 300px;
    padding: 30px 25px;
    border-radius: 6px;
    background: white;
}

h2 {
    font-family: var(--fonte-titulos);
    font-weight: 900;
}

h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.login-input {
    border: 0;
    font-size: 15px;
    background-color: white;
width: 100%;
   
    margin-bottom: 10px;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #e1e9ea;
    padding: 20px 20px 20px 40px;
    /* Espaço para o ícone */
    margin: 10px 0;
}

.login-input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #c9d3d5;


}

.link {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.link a {
    color: var(--verde-principal);
}



/* LOGIN REGISTRACAO -//////////////////////////////////////////////////*/

/* Estilos básicos para diferenciar as seções */
.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.registro-sucesso {
    width: 300px;
    height: auto;
    padding: 25px;
    border-radius: 6px;
    background-color: white;
}

.registro-sucesso h3 {
    text-align: center;
    margin-top: 0;
}

/* Estilo para os botões de alternância */
.toggle-buttons {
    text-align: center;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-button {
    border: none;
    background-color: #f5f9fa;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.toggle-button.active {

    background-color: var(--verde-claro);
    color: white;
}

/* Estilizando o texto do placeholder */
::placeholder {
    color: #c9d3d5;
    /* Cor do placeholder */
    font-style: italic;
    /* Faz o texto parecer em itálico */
    opacity: 1;
    /* Define a opacidade para evitar que o placeholder seja muito claro */
}

/* Para compatibilidade com navegadores mais antigos */
:-ms-input-placeholder {
    /* Para o Internet Explorer 10+ */
    color: #c9d3d5;
    /* Cor do placeholder */
    font-style: italic;
    /* Faz o texto parecer em itálico */
}

::-ms-input-placeholder {
    /* Para o Microsoft Edge */
    color: #c9d3d5;
    /* Cor do placeholder */
    font-style: italic;
    /* Faz o texto parecer em itálico */
}



/* Estilo dos inputs com ícones */
.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #29907F;
}

